html:has(.dropdown__listItem[data-value='Default']:hover) {
  --color-operator: var(--theme-default-color-operator);
  --color-text: var(--theme-default-color-text);
  --color-calc: var(--theme-default-color-calc);
  --color-text: var(--theme-default-color-text);
  --color-special: var(--theme-default-color-special);
  --color-normal: var(--theme-default-color-normal);
}

html:has(.dropdown__listItem[data-value='Dracula']:hover) {
  --color-operator: var(--theme-dracula-color-operator);
  --color-text: var(--theme-dracula-color-text);
  --color-calc: var(--theme-dracula-color-calc);
  --color-text: var(--theme-dracula-color-text);
  --color-special: var(--theme-dracula-color-special);
  --color-normal: var(--theme-dracula-color-normal);
}

html:has(.dropdown__listItem[data-value='PCalc']:hover) {
  --color-operator: var(--theme-pcalc-color-operator);
  --color-text: var(--theme-pcalc-color-text);
  --color-calc: var(--theme-pcalc-color-calc);
  --color-text: var(--theme-pcalc-color-text);
  --color-special: var(--theme-pcalc-color-special);
  --color-normal: var(--theme-pcalc-color-normal);
}

html:has(.dropdown__listItem[data-value='Solarized']:hover) {
  --color-operator: var(--theme-solarized-color-operator);
  --color-text: var(--theme-solarized-color-text);
  --color-calc: var(--theme-solarized-color-calc);
  --color-text: var(--theme-solarized-color-text);
  --color-special: var(--theme-solarized-color-special);
  --color-normal: var(--theme-solarized-color-normal);
}

.dropdown {
  --border-color: #ddd;
  position: relative;
  display: inline-block;
}

.dropdown__btn {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #fff;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  cursor: pointer;
  gap: 4px;
}

.dropdown__list {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  top: 100%;
  right: 0;
  background: #fff;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  transform: translateY(4px);
}

.dropdown__listItem {
  display: flex;
  padding: 8px;
  cursor: pointer;
  align-items: center;
  gap: 5px;
}

.dropdown__listItem:hover {
  background: #eee;
}
