@import '@/styles/normalize.css';
@import '@/styles/dropdown.css';
@import '@/styles/utility.css';

:root {
  /* Dracula Theme Colors */
  --theme-dracula-color-calc: #282a36;
  --theme-dracula-color-normal: #44475a;
  --theme-dracula-color-special: #6272a4;
  --theme-dracula-color-text: #ede3f9;
  --theme-dracula-color-operator: #ff79c6;

  /* Default Theme Colors */
  --theme-default-color-normal: #7d7d7d;
  --theme-default-color-calc: #535353;
  --theme-default-color-operator: #ff9f0a;
  --theme-default-color-special: #646464;
  --theme-default-color-text: #ededed;

  /* PCalc Theme Colors */
  --theme-pcalc-color-normal: #b0b4c0;
  --theme-pcalc-color-calc: #0a1d3e;
  --theme-pcalc-color-special: #6b7280;
  --theme-pcalc-color-operator: #007aff;
  --theme-pcalc-color-text: #fff;

  /* Solarized Theme Colors */
  --theme-solarized-color-normal: #073642;
  --theme-solarized-color-calc: #002b36;
  --theme-solarized-color-operator: #b58900;
  --theme-solarized-color-special: #268bd2;
  --theme-solarized-color-text: #eee8d5;
}

.default-theme {
  --color-normal: var(--theme-default-color-normal);
  --color-calc: var(--theme-default-color-calc);
  --color-operator: var(--theme-default-color-operator);
  --color-special: var(--theme-default-color-special);
  --color-text: var(--theme-default-color-text);
}

.dracula-theme {
  --color-calc: var(--theme-dracula-color-calc);
  --color-normal: var(--theme-dracula-color-normal);
  --color-special: var(--theme-dracula-color-special);
  --color-text: var(--theme-dracula-color-text);
  --color-operator: var(--theme-dracula-color-operator);
}

.pcalc-theme {
  --color-normal: var(--theme-pcalc-color-normal);
  --color-calc: var(--theme-pcalc-color-calc);
  --color-operator: var(--theme-pcalc-color-operator);
  --color-special: var(--theme-pcalc-color-special);
  --color-text: var(--theme-pcalc-color-text);
}

.solarized-theme {
  --color-normal: var(--theme-solarized-color-normal);
  --color-calc: var(--theme-solarized-color-calc);
  --color-operator: var(--theme-solarized-color-operator);
  --color-special: var(--theme-solarized-color-special);
  --color-text: var(--theme-solarized-color-text);
}

:root {
  --max-w: 475px;

  --background-color: var(--color-bg);
  --text-color: var(--color-text);
  --font-family: 'Arial', sans-serif;

  --text-lg: 6.4rem;
  --text-md: 3.2rem;

  --calc-bg: var(--color-calc);

  --button-bg: var(--color-normal);
  --button-fg: var(--color-text);

  --operator-bg: var(--color-operator);
  --operator-fg: var(--color-text);

  --special-bg: var(--color-special);
  --special-fg: var(--color-text);
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

.header {
  display: flex;
  justify-content: end;
  width: 100%;
  padding: 2rem 0;
  background-color: var(--background-color);
}

.icon {
  background-color: transparent;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.calc {
  background-color: var(--calc-bg);
  flex: 1;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(140px, auto) repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 2px;
  grid-template-areas:
    'out out out out'
    's1 s2 s3 op1'
    'b7 b8 b9 op2'
    'b4 b5 b6 op3'
    'b1 b2 b3 op4'
    'b0 b0 com op5';
}

.output {
  display: flex;
  text-align: right;
  justify-content: end;
  align-items: flex-end;
  grid-area: out;
  padding: 0.5rem 1rem;
  color: var(--text-color);
  font-size: var(--text-lg);
  font-size: 5.4rem;
  word-break: break-word;
  overflow-wrap: break-word;
}

.button {
  --bg: var(--button-bg);
  --fg: var(--button-fg);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  font-weight: 500;
  font-size: var(--text-md);
  color: var(--fg);
  filter: url('#emphasize');
}

.button:hover {
  filter: brightness(0.9);
}

.button:active {
  filter: brightness(0.8);
}

.button_operator {
  --bg: var(--operator-bg);
  --fg: var(--operator-fg);
}

.button_special {
  background-color: var(--special-bg);
  color: var(--special-fg);
}

.button_active {
  background-color: var(--fg);
  color: var(--bg);
}

.button_com {
  grid-area: com;
}

.button_op1 {
  grid-area: op1;
}

.button_op2 {
  grid-area: op2;
}

.button_op3 {
  grid-area: op3;
}
.button_op4 {
  grid-area: op4;
}

.button_op5 {
  grid-area: op5;
}

.button_s1 {
  grid-area: s1;
}

.button_s2 {
  grid-area: s2;
}

.button_s3 {
  grid-area: s3;
}

.button_0 {
  grid-area: b0;
}

.button_1 {
  grid-area: b1;
}

.button_2 {
  grid-area: b2;
}

.button_3 {
  grid-area: b3;
}

.button_4 {
  grid-area: b4;
}

.button_5 {
  grid-area: b5;
}

.button_6 {
  grid-area: b6;
}

.button_7 {
  grid-area: b7;
}

.button_8 {
  grid-area: b8;
}

.button_9 {
  grid-area: b9;
}

.button_0 {
  grid-area: b0;
}

@media screen and (min-width: 768px) {
  .header {
    max-width: var(--max-w);
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
  }

  .calc {
    position: relative;
    max-width: var(--max-w);
    min-height: 54rem;
    flex: 0 0 auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow:
      0 4px 20px rgba(0, 0, 0, 0.3),
      0 0 25px rgba(0, 0, 0, 0.2);
    /* filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8)); */
  }
}
