.relative {
  position: relative;
}

.overflow-visible {
  overflow: visible;
}

.hidden {
  display: none;
}

.absolute {
  position: absolute;
}

.pointer-none {
  pointer-events: none;
}

.z-10 {
  z-index: 10;
}

@media screen and (min-width: 768px) {
  .md\:flex {
    display: flex;
  }
}
